body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #a8df8e;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.card{
  width:49%;
}
.tile-image{
  float:left;
  width:60%;
  padding:10px;
  border-radius: 15%;
}
.left{
  float:left;
}
.right{
  float:right;
}
.creative{
  color:darkblue;
}
@media(max-width:600px)
{
  body{
    background-color:#ffd8df;
  }
  .card{
    float:none;
    display: inline;
    width:100%;
}
  .logo{
    width: 100px;
    height:20px;
  }
  h1{
    font-size: 2.5rem;
    text-align: center;
  }
  .tile-image{
    float: none;
    width:100%;
  }
  h2{
    font-size: 20px;
  }
  
}